#jtc-panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 16px;
	width: 130px;
}

#jtc-panel hr {
	width: 80%;
	margin: auto;
	border: 0;
	border-top: 2px solid #0002;
}

#jtc-panel label {
	display: flex;
	flex-direction: column;
}

#jtc-panel input[ type='number' ] {
	text-align: end;
}
